<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%%DOCUMENT_TITLE%%</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="page-container">
      <header class="navigation">
        <nav>
          <div class="nav-headline"><p>Node.js</p></div>
          <div class="nav-subject-headline"><p>Subjects</p></div>
          <div class="nav-subject-container">
            <ul>
              <li class="nav-subject %%JAVASCRIPTMASTERY_ACTIVE%%">Javascript Mastery</li>
              <li class="nav-subject %%TERMINALCOMMANDS_ACTIVE%%">Terminal Commands</li>
              <li class="nav-subject %%NODEJS_ACTIVE%%">Node.js</li>
              <li class="nav-subject %%RESTAPI_ACTIVE%%">Rest API</li>
              <li class="nav-subject %%SSR_ACTIVE%%">SSR</li>
            </ul>
          </div>
        </nav>
      </header>